<section class="event_area section_gap_custom">
    <div class="container">
        <div class="main_title">
            <h2>이 달의 재단 - World Vision</h2>
            <p>우리의 비전은 모든 어린이가 풍성한 삶을 누리는 것 입니다.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="img/event/e1.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a href="event-details.html">긴급한 재난 현장 위험에 처한 아이들을 돕습니다.</a>
                                </h3>
                                <p>
                                    분쟁,태풍,홍수 가뭄등 재난히 발생한 지역에 긴급구호 전문가를 파견하고 피해를 입은 모두가 일상을 회복할 수 있도록 재건 복구사업을 진행합니다.
                                </p>
                                <div class="d-flex count_time" id="clockdiv1">
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <a href="#" class="primary_btn">더 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="img/event/e2.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a href="event-details.html">갑작스런 위기를 이겨낼 수 있는 힘이 됩니다.</a>
                                </h3>
                                <p>
                                    실직,이혼,질병,가정폭력 등 위태로운 상황에 놓여있는 아동과 청소년 가정에 생계비,주거비,의료비,재해비를 지원합니다.
                                </p>
                                <div class="d-flex count_time" id="clockdiv2">
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <a href="#" class="primary_btn">더 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="img/event/e3.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a href="event-details.html">깨끗한 물과 환경을 만들어 나갑니다.</a>
                                </h3>
                                <p>
                                    환경이 열악한 해외지역에 취약한 아동과 주민이 사용할 수 도록 안전한고 가까운 위치에 식수시설과 화장실을 설치합니다.
                                </p>
                                <div class="d-flex count_time" id="clockdiv3">
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <a href="#" class="primary_btn">더 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single_event">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <figure>
                                <img class="img-fluid w-100" src="img/event/e4.jpg" alt="">
                                <div class="img-overlay"></div>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content_wrapper">
                                <h3 class="title">
                                    <a href="event-details.html">굶주림의 고통을 없애는데 함께하고있습니다.</a>
                                </h3>
                                <p>
                                    분쟁과 자연재해에 심각한 식량위기 상황속에 월드비전은 영양 실조에 걸린 이들에게 치료식을 지급하고 주민이 식량 문제를 스스로 극복할 수 있도록
                                    돕습니다.
                                </p>
                                <div class="d-flex count_time" id="clockdiv4">
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div class="mr-25">

                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <a href="#" class="primary_btn">더 보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>