<section class="section_gap story_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>GIBOO's story</h2>
                    <p>
                        여러분들의 소중한 후원금으로 이루어낸 결실 입니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/picture4.jpg" alt="">
                    </div>
                    <div class="story-details">
                        <div class="story-meta">

                        </div>

                        <p>
                            <h6>아동놀이환경 개선사업-어디든 놀이터in전남</h6><br>
                            농어촌 공동체 속에서 통폐합되어 사라지는학교. 열악한 아동이용시설과
                            이용시설 부족으로 놀 권리마저 차별받는 아이들을 위해 <어디든 놀이터>를 제작하였습니다. 아동디자인회의,교사토론회,디자인발표회를 거처 2018년 12월
                                놀이터가 완성되었습니다.
                        </p>
                        <span class="lnr lnr-bubble"></span>채팅
                        <span class="lnr lnr-film-play"></span>영상후기
                    </div>
                </div>
            </div>

            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/picture5.JPG" alt="">
                    </div>
                    <div class="story-details">
                        <div class="story-meta">

                        </div>
                        <p>
                            <br>
                            <h6>해외 아동을 위한 열악한 화장실 개선 in 아프리카</h6><br>
                            해외 아동 성차별 및 성지식에 대한 교육부족 문제 개선을 위해 정기적인 교육을 실시하였습니다. 특히 열악한 환경으로 화장실 조차 편하게 사용하지 못하는
                            여아동을 위해 화장실 시설 개선 공사가 완료 되었습니다.
                        </p>
                        <span class="lnr lnr-bubble"></span>채팅
                        <span class="lnr lnr-film-play"></span>영상후기
                    </div>
                </div>
            </div>

            <!-- single-story -->
            <div class="col-lg-4 col-md-6">
                <div class="single-story">
                    <div class="story-thumb">
                        <img class="img-fluid" src="img/picture6.jpg" alt="">
                    </div>

                    <p>
                        <br>
                        <h6>꿈꾸는 청년들의 희망,청년도시락캠페인</h6><br>
                        등록금,월세,생활비를 마련하기 위해 평일,주말 모두 아르바이트로 시간을 보내야하는 어려운 환경 속에 있는 청년들이 최소한의 식사 권리를 찾고 학업에 집중할 수 있도록
                        청년 도시락 켐페인을 진행했습니다.
                        총 3차로 진행된 청년도시락 캠페인을 통해 청년 129명이 따뜻한 밥 한 끼를 먹고 꿈을 향해 전진할 수 있었습니다.
                    </p>
                    <span class="lnr lnr-bubble"></span>채팅
                    <span class="lnr lnr-film-play"></span>영상후기

                </div>
            </div>
        </div>
    </div>
</section>